header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0px;
    height: 70px;
    box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.05);
    
}
.header-logo {
    height:20px;
    width:auto;
    margin-left:30px;
    margin-bottom: 20px;
}
.header-logo-img {
    width: 190px;
    margin-top: 10px;
    margin-left: 5px;
    position: absolute;
    z-index: 5;
}
ul {
    font-size: 0.8rem;
    font-weight: 500;
    display: flex;
    list-style: none;
    text-align: center;
    gap: 45px;
    margin-left: 400px;
    margin-bottom: 20px;  
}
.br-content {
    display: block;
    font-size: 0.6rem;
    margin-top: 5px;
}
a{
    color: black;
    text-decoration: none;
    line-height: 0.1;
    transition: opacity 0.2s;
}
a:hover {
    opacity: 0.7;
}
.button1 {
    font-size: 0.8rem;
    font-weight: 500;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 160px;
    height: 40px;
    color: white;
    background-color: #F79214;
    border-radius: 60px;
    line-height: 1.5;
    margin-right: 20px;
    transition: opacity 0.2s;
}
.button1:hover {
    opacity: 0.7;
}

.FV {
    position: relative;
    overflow: hidden;
    margin: 0;
    height: 739px;
}
.fv-top-left-orange-triangle {
    position: absolute;
    top:0px;
    left:0;
    z-index: 1;
    width:280px;
}
.fv-bottom-right-orange-triangle {
    position: absolute;
    top: 320px;
    right: 0;
}
.fv-orange-line-illustration {
    position: absolute;
    z-index: -1;
    top: 90px;
    left:-70px;
}
.fv-man-photo {
    position: absolute;
    top: -70px;
    right: 0;
    width: 775px;
}
.circle-no1 {
    position: absolute;
    top:30%;
    left:50%;   
    transform: translate(-45%, -50%);
  z-index: 3;
}
body {
    margin: 0;
}
.main-title {
    font-family: "Lato", sans-serif;
    color: #333;
    font-size: 42px;
    font-weight: 800;
    line-height: 63px;
    margin-bottom:16px;
    position: absolute;
    z-index: 3;
    top: 25%;
    left:8%;
}
h1 {
    display: block;
    margin-block-start: 0.83em;
    margin-block-end:0.83em;
}
.button2-main {
    position: absolute;
    top:57%;
    left: 7%;
    width: 490px;
    height: 64px;
    color: white;
    background-color: #F79214;
    border-radius: 60px;
    line-height: 1.5;
    margin-right: 20px;
    z-index: 4;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;   
    font-size: 16px;
    font-weight: 700;
    transition: opacity 0.2s;
}
.button2-main:hover {
    opacity: 0.7;
}
.sub-text {
    font-size: 12px;
    line-height: 16px;
    color: #333;
    position: absolute;
    top:66%;
    left: 8%;
}